<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Escribe ideas para tus nuevas apps</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Añadir idea</a>
</div>